@tailwind base;
@tailwind components;
@tailwind utilities;

#loginWindow {

}

#loginWindow h3 {
  margin: auto;
  color: blue;
}

#loginWindow form > div {
  margin-top: 1rem;
}

#loginWindow form input {
  border: 1px #333 solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}